<!DOCTYPE html>
<html lang="en">
<head>
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png', true) }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% block stylesheets %}
        {% do assets.addCss('theme://css/animations.css',10 ) %}
        {% do assets.addCss('theme://css/normalize.css',10 ) %}
        {% do assets.addCss('theme://css/grids-custom-min.css', 104) %}
        {% do assets.addCss('theme://css-compiled/main.css',105) %}
        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
            {% do assets.addJs('theme://js/html5shiv-printshiv.min.js') %}
        {% endif %}
    {% endblock %}
    {{ assets.css() }}
    {% block javascripts %}
        {% do assets.addJs('jquery',102) %}
        {% do assets.addJs('theme://js/masonry.pkgd.min.js',100) %}
        {% do assets.addJs('theme://js/modernizr-custom.js',101) %}
    {% endblock %}
    {{ assets.js()}}
{% endblock head%}
</head>
<body  id="masonry" class="{{ page.header.body_classes }}">
    {% include 'partials/menu_bar.html.twig' %}
    {% block content %}
    {% endblock %}
    {% block footer %}
      {% include 'partials/footer.html.twig' %}
    {% endblock %}
    {% block bottom %}
    <script>
   $(function(){
     var $container = $('#masonry');
      if(Modernizr.csstransitions){
           $container.masonry({
            itemSelector: '.item',
            columnWidth: 1,
            percentPosition: true,
            transitionDuration: 0
            });
        }
        else {
            $container.masonry({
            itemSelector: '.item',
            columnWidth: 1,
            percentPosition: true,
            transitionDuration: '.4s'
            });
        }
    });
    </script>
    {% endblock %}
</body>
</html>
