<!DOCTYPE html>
<html lang="en">
<head>
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png', true) }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% block stylesheets %}
        {% do assets.addCss('https://fonts.googleapis.com/css?family=Merriweather:900italic|Catamaran|Amaranth', 104) %}
        {% do assets.addCss('theme://css/grids-custom-min.css', 104) %}
        {% do assets.addCss('theme://css-compiled/main.css',105) %}
        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
            {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js') %}
        {% endif %}
    {% endblock %}
    {{ assets.css() }}
    {% block javascripts %}
    {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js',117) %}
    {% do assets.addJs('https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js',108) %}
    {% do assets.addJs('https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js',108) %}
    {% do assets.addJs('theme://js/modernizr-custom.js',110) %}
    {% endblock %}
    {{ assets.js()}}
{% endblock head%}
</head>
<body class="body">
    {% include 'partials/header.html.twig' %}
    {% include 'partials/menu_bar.html.twig' %}
    <div id="masonry" class="{{ page.header.body_classes }} container pure-u-1 pure-u-xl-7-8 container-load">
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}
    {% block bottom %}
        {% include 'partials/js.html.twig' %}
    {% endblock %}
</body>
</html>