<!DOCTYPE html>
<html lang="en">
<head>
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png', true) }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/normalize.css',10 ) %}
        {% do assets.addCss('theme://css/grids-min.css', 105) %}
        {% do assets.addCss('theme://css/grids-custom-min.css', 104) %}
        {% do assets.addCss('theme://css-compiled/main.css',105) %}
        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
            {% do assets.addJs('theme://js/html5shiv-printshiv.min.js') %}
        {% endif %}
    {% endblock %}
    {{ assets.css() }}
    {% block javascripts %}
        {% do assets.addJs('jquery',102) %}
        {% do assets.addJs('theme://js/masonry.pkgd.min.js',101) %}
        {% do assets.addJs('theme://js/modernizr-custom.js',100) %}
    {% endblock %}
    {{ assets.js()}}
{% endblock head%}
</head>
<body  class="pure-g">
       {% include 'partials/taskbar.html.twig' %}
        <div class="pure-u-1-1 pure-u-lg-21-24 body right">
            <div id="masonry" class="pure-g container">
                {% if page.header.body_classes|contains('pure-u-1-1') and page.header.body_classes|contains('item') %}
                   <div class="{{ page.header.body_classes}}">
                {% elseif page.header.body_classes|contains('pure-u-1-1')%}
                   <div class="item {{ page.header.body_classes }}">
                {% elseif page.header.body_classes|contains('item')%}
                   <div class="pure-u-1-1 {{ page.header.body_classes }}">
                {% else %}
                   <div class="{{ page.header.body_classes }} item pure-u-1-1">
                {% endif %}
                   {% block content %}
                   {% endblock %}
                   </div>
                {% include 'partials/sidebar.html.twig'%}
                {% include 'deck.html.twig' %}
                {% block footer %}
                <div class="bottom-footer pure-u-1-1 item">
                    {% include 'partials/footer.html.twig' %}
                </div>
                {% endblock %}
           </div>
        </div>
    {% block bottom %}
    <script>
    var test = function(){
        if(Modernizr.csstransitions){
            $('#masonry').masonry({
            itemSelector: '.item',
            columnWidth: 1,
            percentPosition: true,
            transitionDuration: 0
            });
        }else {
            $('#masonry').masonry({
            itemSelector: '.item',
            columnWidth: 1,
            percentPosition: true,
            transitionDuration: '2.4s'
            });
        }
    };
   test();
    </script>
    {% endblock %}
</body>
</html>
