<div class="content">

    {% set header_image = page.header.header_image|defined(true) %}
    {% set header_image_width  = page.header.header_image_width|defined(1200) %}
    {% set header_image_height = page.header.header_image_height|defined(500) %}
    {% set header_image_file = page.header.header_image_file %}

    <div class="list-blog-header">
        <span class="list-blog-date">
            <em>{{ page.date|date("d M Y") }}</em>
        </span>
        {% if header_image %}
            {% if header_image_file %}
                {% set header_image_media = page.media.images[header_image_file] %}
            {% else %}
                {% set header_image_media = page.media.images|first %}
            {% endif %}
            {{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
        {% endif %}
        {% if page.header.link %}
            {% if page.title.length > 24 %}
            <h4>
                <a href="{{ page.header.link }}">{{ page.title|truncate(24)}}...</a>
            </h4>
            {% else %}
            <h4>
                <a href="{{ page.header.link }}">{{ page.title}}</a>
            </h4>
            {% endif %}
        {% else %}
             {% if page.title.length > 24 %}
            <h4>
                <a href="{{ page.url }}">{{ page.title|truncate(24)}}...</a>
            </h4>
            {% else %}
            <h4>
                <a href="{{ page.url }}">{{ page.title}}</a>
            </h4>
            {% endif %}
        {% endif %}
    </div>

    <div class="list-blog-padding text">
    {% if page.header.continue_link is sameas(false) %}
         {{ page.content|truncate(150) }}
        {% if not truncate %}
        {% set show_prev_next = false %}
        {% endif %}
    {% elseif truncate and page.summary != page.content %}
         {{ page.content|truncate(150) }}
        <p><a href="{{ page.url }}">[click here to read more]</a></p>
    {% elseif truncate %}
        {% if page.summary != page.content %}
            {{ page.content|truncate(150) }}
        {% else %}
            {{ page.content|truncate(150) }}
        {% endif %}
        <p><a href="{{ page.url }}">[click here to read more]</a></p>
    {% else %}
        {{ page.content|truncate(150) }}
        {% set show_prev_next = false %}

    {% endif %}

    </div>
</div>
