{% for related_path, score in related_pages %}
        {% set related = grav['pages'].get(related_path) %}
        {% if related %}
        <aside class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-5-24 card item">
            <div class="edge item-load">
                 <div>
                   <span>{{ page.date|date(config.system.pages.dateformat.short) }}</span>
                </div>
                {% set header_image_media = related.media.images|first %}
                {{ header_image_media.cropZoom(1200, 400).html }}
                <h3><a href="{{ related.url }}" title="{{ related.title }}">{{ related.title }}</a></h3>
                {{ related.content|truncate(300) }}
               <p><a href="{{ related.url }}">[click here to read more]</a></p>
            </div>
        </aside>
        {% endif %}
{% endfor %}
