<section class="search-row pure-u-1 pure-u-md-1-2 pure-u-xl-1-4 card item">
    {% set banner = page.media.images|first %}
    <div class="edge item-load">
        <div>
            <span class="search-date">{{ page.date|date(config.system.pages.dateformat.short) }}</span>
        </div>
        {% if banner %}
        <div>
            <a href="{{ page.url }}">{{ banner.cropZoom(1200, 400).html }}</a>
        </div>
        {% endif %}
          <div>
            <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
        </div>
        <p>{{ page.summary }}</p>
    </div>
</section>